<h1>Actualizaci칩n masiva de aportes</h1>
<%= simple_form_for Msip::Persona.take, 
  url: main_app.aportes_hacer_actualizacion_masiva_path do |f| %>
  <%= f.input :am_a침o,
    collection: 2020..(Date.today.year),
    include_blank: false
  %>
  <%= f.input :am_mes, 
    collection: Msip::FormatoFechaHelper::MESES.select {|m| m != ""}.
      each_with_index.map {|e,i| [e,i]},
    include_blank: false %>

    <br>
    <br>
    <%= f.submit "Actualizar masivamente",
      data: {
        disable_with: false,
        turbo: false
      } %>
    <br>
    <p>Se duplicaran los aportes del mes anterior excepto cuando ya haya
    un aporte para el mes que eligi칩 o si la persona tiene una fecha
    de desvinculaci칩n de aportes anterior al mes que se actualiza.</p>
<% end %>
