<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' type='text/css' media='all'>
    <style>
body {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 15px;
  text-align: center;
  color: #777;
}
table {
  border-collapse: collapse;
}
</style>

  <script>
    window.alternaDiv = function(id) {
      r=document.querySelector(id);
      if (r) {
        if (r.style.display == 'none') {
          r.style.display = 'block';
        } else {
          r.style.display = 'none';
        }
      }
    }
  </script>

  </head>
  <body>
    <div class="et_pb_module et_pb_accordion et_pb_accordion_0">
      <% nreg = Sivel2Gen::Region.habilitados.reorder(:nombre).pluck(:nombre) + [nil] %>
      <% nreg.each do |nom| %>
        <div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_0  et_pb_toggle_open">
          <% if nom %>
            <% nid = nom.split(" ").join('') %>
            <% t = "Regional " + nom.split(" ").map(&:capitalize).join(" ") %>
          <% else %>
            <% nid = 'SINREGIONAL' %>
            <% t = "Sin Regional" %>
          <% end %>
          <h5 class="et_pb_toggle_title" onclick="window.alternaDiv(<%= nid %>)">
            <%= t %>
          </h5>
          <div id='<%= nid %>' class="et_pb_toggle_content clearfix">
            <% enctabla, cuerpotabla = Sivel2Gen::ConteosController::
              calcula_fasol_banco_detalle(nom) %>
            <%= render partial: 'tabla_detreg', 
              locals: { enctabla: enctabla, cuerpotabla: cuerpotabla } %>
          </div> <!-- .et_pb_toggle_content -->
        </div> <!-- .et_pb_toggle -->
      <% end %> 
    </div>
  </body>
</html>
