<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' type='text/css' media='all'>
    <style>
body {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 12px;
  text-align: center;
  color: #777;
}

.elemento_acordeon {
  border: solid rgb(102,102,102) 1px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
}
.titulo_acordeon {
  border: solid rgb(102,102,102) 1px;
  background-color: #eee;
  height: 40px;
  line-height: 40px;
  margin: 0px;
}
.contenido_acordeon {
  margin-top: 10px;
  margin-bottom: 10px;
}


table {
  border-collapse: collapse;
  margin: auto;
}
</style>

  <script>
    window.alternaDiv = function(id) {
      r=document.querySelector(id);
      if (r) {
        if (r.style.display == 'none') {
          sig = 'block';
        } else {
          sig = 'none';
        }
        document.querySelectorAll('.contenido_acordeon').forEach(function(e) {
          e.style.display='none';
        })
        r.style.display = sig;
      }
    }
  </script>

  </head>
  <body>
    <div class="acordeon">
      <% nreg = Sivel2Gen::Region.habilitados.reorder(:nombre).pluck(:nombre) + [nil] %>
      <% nreg.each do |nom| %>
        <div class="elemento_acordeon">
          <% if nom %>
            <% nid = nom.split(" ").join('') %>
            <% t = "Regional " + nom.split(" ").map(&:capitalize).join(" ") %>
          <% else %>
            <% nid = 'SINREGIONAL' %>
            <% t = "Sin Regional" %>
          <% end %>
          <h5 class="titulo_acordeon" onclick="window.alternaDiv('#<%= nid %>')">
            <%= t %>
          </h5>
          <div id='<%= nid %>' class="contenido_acordeon" style='display: none'>
            <% enctabla, cuerpotabla = Sivel2Gen::ConteosController::
              calcula_fasol_banco_detalle(nom) %>
            <%= render partial: 'tabla_detreg', 
              locals: { enctabla: enctabla, cuerpotabla: cuerpotabla } %>
          </div> <!-- .contenido_acordeon -->
        </div> <!-- .elemento_acordeon -->
      <% end %> 
    </div>
  </body>
</html>
