<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' type='text/css' media='all'>
    <style>
body {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 15px;
  text-align: center;
  color: #777;
}
table {
  border-collapse: collapse;
}
    </style>
  </head>
  <body>
    <div class="fasol_banco_detalle">
      <%= render partial: 'tabla_detreg', 
        locals: { enctabla: @enctabla, cuerpotabla: @cuerpotabla } %>
    </div>
  </body>
</html>
