<% if @registro.actividadpf_ids.include?(35) %>
  <div class="div-tabla-celda" style="width: 6em;">
    Caracterización
  </div>
<% end %>
<% if (@registro.actividadpf_ids & [33, 35]) != [] %>
  <div class="div-tabla-celda" style="width: 6em;">
    Número de sesiones
  </div>
<% end %>
<div class="div-tabla-celda" style="width: 6em;">
  Tipo de aliado
</div>
