<% if @registro.actividadpf_ids.include?(35) %>
  <div class="div-tabla-celda">
    <% col = Cor1440Gen::Actividadpf.where(
      proyectofinanciero_id: Rails.application.config.x.cor1440_pf_comunes) %>
    <%= fasistencia.association :opcioncaracterizacion,
    collection: col,
    multiple: false,
    label_method: :presenta_nombre,
    label: false,
    value_method: :id,
    input_html: {
      style: 'width: 10em',
      class: 'tom-select',
    }
  %>
  </div>
<% end %>
<% if (@registro.actividadpf_ids & [33, 35]) != [] %>
  <div class="div-tabla-celda">
    <%= fasistencia.input :numsesiones, label: false %>
  </div>
<% end %>
<div class="div-tabla-celda">
  <%= fpersona.input :tipoaliado_id, 
    collection: Tipoaliado.habilitados,
    label_method: lambda {|e| e.presenta_nombre },
    include_blank: true,
    label: false %>
</div>

