@font-face {
    font-family: "Beau Rivage";
    src: url('/assets/BeauRivage-Regular.ttf') format('truetype'); 
    font-display: swap;
}

body {
  font-family: Roboto;
}

/* letra titulos*/
h1 {
  font-family: "Beau Rivage", serif; 
  font-weight: bold;
}
