<div class="panel panel-default">
  <div class="panel-heading">Actos Individuales</div><div class="panel-body">

    <%= render partial: 'sivel2_gen/casos/actos_con_fecha', locals: {f: f} %>

  </div> <!-- panel-body -->  
</div> <!-- panel panel-default --> 


