<div class='grupo-entidad'>
  <div>
  <%= f.input :entidad_id, as: :hidden %>
  <%= f.input :entidad_nombre, 
    label: false,
    placeholder: "Buscar entidad por nombre o por código",
    input_html: {
     list: 'fuente-entidades'
    } %>
  </div>
</div>
<!--% col = Msip::ModeloHelper.opciones_tabla_basica(
  Msip::Orgsocial.joins(:grupoper).where(tipoorg_id: 3).reorder(:nombre), 
  f, :entidad) %-->
<!--%= f.association :entidad,
  collection: col,
  include_blank: true,
  label_method: :presenta_nombre, 
  value_method: :id,
  input_html: {
    class: 'chosen-select',
    "data-toggle" => 'tooltip',
    "title" => 'Registre entidad del estado donde laboraba en el momento del hecho'
  } %-->
