<div class='grupo-entidad'>
  <div>
  <%= f.input :entidad_id, as: :hidden %>
  <%= f.input :entidad_nombre, 
    label: false,
    placeholder: "Buscar entidad por nombre o por código",
    input_html: {
     list: 'fuente-entidades'
    } %>
  </div>
</div>
