<div class='row'>
  <div class='col-md-6'>
    <% col=Msip::ModeloHelper.opciones_tabla_basica(
      ::Cargoestado, f, :cargoestado) %>
    <%= f.association :cargoestado,
      collection: col,
      label_method: :nombre,
      value_method: :id,
      include_bank: false,
      input_html: {
        class: 'tom-select',
        "data-toggle" => 'tooltip'
      } %>
  </div>
  <div class='col-md-6'>
    <%= f.input :detallevinculoestado %>
  </div>
</div>
