<div class="div-tabla-celda" style="max-width: 10em">
  <%= date_field_tag "caso_acto_fecha", "",
    "data-toggle": 'tooltip',
    name: "caso[acto_fecha]",
    title: "Fecha del acto de violencia. "\
    "Después no olvide presionar el botón Añadir Acto(s)."
    %>
</div>
